{% extends 'catalog/base.html' %}
{% load widget_tweaks %}
{% block title %}Agregar Producto{% endblock %}



{% block content %}


<div class="box">
  <h2 class="title is-4">➕ Agregar Nuevo Producto</h2>

  <form method="post">
    {% csrf_token %}
    <div class="field">
      <label class="label">Nombre</label>
      <div class="control has-icons-left">
        {{ form.name|add_class:"input" }}
        <span class="icon is-small is-left"><i class="fas fa-tag"></i></span>
      </div>
    </div>

    <div class="field">
      <label class="label">Precio</label>
      <div class="control has-icons-left">
        {{ form.price|add_class:"input" }}
        <span class="icon is-small is-left"><i class="fas fa-dollar-sign"></i></span>
      </div>
    </div>

    <div class="field">
      <label class="label">Categoría</label>
      <div class="control has-icons-left">
        {{ form.category|add_class:"input" }}
        <span class="icon is-small is-left"><i class="fas fa-layer-group"></i></span>
      </div>
    </div>

    <div class="field is-grouped mt-4">
      <div class="control">
        <button type="submit" class="button is-success">
          <i class="fas fa-check"></i> Guardar
        </button>
      </div>
      <div class="control">
        <a href="{% url 'catalog:product-list' %}" class="button is-light">Cancelar</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}
